body{
    margin: 0;
    padding: 0;
    text-align: center;
}


.mem{
    width: 400px;
    border: 3px solid black;
    margin: 10px auto;
}

.mem img{
    width: 100%;
    display: block;
}

button.votes{
    padding: 10px 20px;
    background-color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-family: arial;
    border: 3px solid black;
    cursor: pointer;
    margin: 10px;
    width: 300px;
    text-align: center;
    font-weight: bold;
    transition: .2s;
}

button.votes:hover{
    background-color: orange;
}
h2.title{
    margin-top: 7px;
}

button.star{
 width: 40px;
 height: 40px;
 position: relative;
 top: -7px;
 left: 5px;
 border: none;
 background-color: #ddd;
 cursor: pointer;
}

button.star i{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
font-size: 40px;
color: #777;
}
button.star i.str{
    color: red;
}

@media(max-width:1024px){
    button.votes{
        width: 130px;
        font-size: 16px;
        padding: 5px 10px;
    }
    button.star{
        width: 20px;
        height: 20px;
        top: -5px;
        left: -3px;
       }
    button.star i{
        font-size: 30px;
        }
    .mem{
        width: 90vw;
    }    
}

@media(max-width:1400px){
    .mem{
        width: 400px;
    }  
}